@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
*{
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}

body {
    margin: 0;
    background-image: url(images/background2.jpg);
}

.page-title {
    font-size: 6em;
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    color: #57a2ff;
    font-weight: 0;
}

h1 {
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #333;
  }

.game-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.game-info {
    font-family: 'Leckerli One', cursive;
    color: #57a2ff;
    font-size: 4em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #333;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4 , auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
    perspective: 500px;
}

.card {
    position: relative;
    height: 175px;
    width: 125px;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
    overflow: hidden;
    backface-visibility: hidden;
    border-radius: 12px;
    border-width: 3px;
    border-style: solid;
    transition: transform 500ms ease-in-out;
}

.card.visible .card-back {
    transform: rotateY(-180deg);
}

.card.visible  .card-front {
    transform: rotateY(0deg);
}

.card.matched .card-value {
    animation: dance 1s linear infinite 500ms;
}

.overlay-text {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    font-family: 'Leckerli One', cursive;
    color: #57a2ff;
    
}
.overlay-text-small{
    font-size: .3em;
}

.overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
    from {
        background-color: rgba(0,0,0,0);
        font-size: 0;
    }
    to {
        font-size: 10em;
        background-color: rgba(0,0,0,0.8);
    }
}

@keyframes dance {
    0%,100% {
        transform: rotate(0);
    }
    25% {
       transform: rotate(-5deg);
    }
    75% {
        transform: rotate(5deg);
    }
}


.card-back {
    background-color: white;
    border-color: #57a2ff;
}

.card-front {
    background: white;
    border-color: #57a2ff;
    transform: rotateX(180deg);
}

.card-value {
    transition: transform 100ms ease-in-out;
    transform: scale(.9);
}

.card-front:hover .card-value {
    transform: scale(1);
}

.card-img2 {
    height: 170px;
    width: 150px;
}

.card-img {
    height: 200px;
    width: 175px;
}






.mountain {
    align-self: flex-start;
    transform: translateY(-10px);
    transition: transform 100ms ease-in-out;
}

.card-back:hover .mountain {
    transform: translateY(0);
}

@media (max-width:600px) {
    .game-container{
        grid-template-columns: repeat(2,auto);
    }

    .game-info-container{
        flex-direction: column;
        align-items: center;
    }
}

